.App {
  text-align: center;
}
* {
  height: auto;
  overflow: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  padding: 5%;
}

.login-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

img {
  width: 100%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.button-logout {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.list-user {
  width: 30%;
}

.list-message {
  width: 60%;
}

.menu-bar {
  width: 100%;
  display: flex;
}
.user-name {
  width: 50%;
  display: flex;
}

.avatar {
  float: left;
  width: 7%;
}

.logout {
  width: 50%;
}

.displayName {
  float: left;
}

.logout-btn {
  width: 119px;
  float: right;
  margin-right: 44px;
}

.content {
  display: flex;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.disable td input,
.disable td select {
  border: none;
  background-color: #fff;
  pointer-events: none;
}
.ant-list-item-meta-title {
  font-size: 10px;
}

.left-icon {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.right-list {
  width: 55%;
}

.item-icon {
  margin-top: 15px;
  align-items: center;
  padding-left: 10px;
}

.header-chat-form, .footer-chat-form {
  display: flex;
  margin: 10px 10px;
}

.group-name {
  width: 50%;
}
.notification {
  margin-top: 5px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.icon {
  padding-left: 20px;
}

.fa {
  color: #c5c3d8;
}

.fa-paper-plane{
  color: #756bf4 !important;
}

.name-member {
  display: flex;
}

.avt-name-member {
  margin-right: 20px;
}

.avt-left {
  width: 5%;
  float: left;
  margin: 20px;
  margin-right: 0;
}

.avt-right {
  width: 5%;
  float: right;
  margin: 20px;
  margin-right: 0;
}

.chat-box {
  width: 100%;
  padding: 15px;
}

.message-left,
.message-right {
  width: 65%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.message-left {
  float: left;
}
.message-right {
  float: right;
}

.chat-content {
  height: auto;
  overflow: auto;
  margin-top: 30%;
}

.user-infor{
  width: 100%;
}

.ant-card, .ant-card-bordered, .ant-card-hoverable{
  width: 315px;
}

.user-infor{
  display: flex;
  flex-direction: column;
}

.user-description{
  margin-top: 30px;
}

.history-title, .time-act, .content-act{
  text-align: center;

}

.time-act{
  color: #a8a7bb
}

.content-act{
  color:#b1afc3
}

.history-activity{
  padding: 10px;
}
